.experience-section {
  background: blue;
  color: #fff;
  padding: 80px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.experience-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.text-container {
  flex: 1;
  padding: 10px;
  text-align: left;
  order: 2;
  margin-left: 50px; /* Ajuste o valor para mover o texto mais para a direita */
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  position: relative;
  order: 1;
  margin-left: -50px; /* Ajuste o valor para mover a imagem mais para a esquerda */
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 40%;
  background: white;
  z-index: -1;
}

.experience-image {
  width: 100%;  /* Faz a imagem ocupar toda a largura da sua coluna */
  max-width: 1000px;  /* Ajusta o tamanho máximo da imagem */
  height: auto;  /* Garante que a imagem tenha a altura proporcional à largura */
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  top: -350px;  /* Ajuste para garantir o espaçamento adequado */
}

/* Títulos e textos */
.experience-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #f0a500;
}

.experience-subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 30px;
  color: #ffdd57;
}

.experience-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Lista estilizada */
.experience-list {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}

.experience-list li {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.experience-list li strong {
  color: #ffdd57;
  margin-right: 8px;
}

/* Responsividade */
@media (max-width: 768px) {
  .image-container {
    justify-content: left;  /* Alinha a imagem ao centro em telas pequenas */
  }

  .experience-image {
    max-width: 200%;  /* Garante que a imagem ocupe toda a largura da tela em dispositivos pequenos */
  }

  .text-container {
    margin-left: 0; /* Remove o margem quando a tela for pequena */
    text-align: center; /* Ajuste a posição do texto para centralizado em dispositivos pequenos */
  }

  .image-container {
    margin-left: 0; /* Remove o margem quando a tela for pequena */
  }
}
