.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 0;
  background-image: url('../assets/image/hero/praia.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
}

.hero-content {
  text-align: center;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Garante que tudo fique centralizado */
}

/* Botão de chamada à ação */
.cta-button {
  padding: 12px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #0056b3;
}
