/* General Layout */
.info-section {
    padding: 50px 0;
    background-color: #f4f4f4;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.image-column {
    width: 48%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define 2 colunas para as imagens */
    gap: 20px;
}

.text-column {
    width: 48%;
    text-align: left;
}

.info-box {
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.info-box:hover {
    transform: translateY(-10px);
}

.icon {
    margin-bottom: 15px;
}

.icon img {
    max-width: 40px; /* Diminuir o tamanho das imagens */
    height: auto;
}

.content h4 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
}

/* Animations */
@keyframes fadeInRight {
    0% { opacity: 0; transform: translateX(20px); }
    100% { opacity: 1; transform: translateX(0); }
}

.why-choose-us {
    text-align: left;
}

.why-choose-us h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    animation: fadeInRight 1s ease-out;
}

.why-choose-us p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact-btn {
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #0056b3;
}

/* Responsiveness */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .image-column, .text-column {
        width: 100%;
    }

    .info-box {
        width: 48%;
        margin-bottom: 20px;
    }
}

